include application
currentPage = "/tests"
include navBar



.content
    .row
        if(message)
            div.col-12
                div.alert.alert-danger(role="alert")=message
        each pic in pictures
            div.col-3
                .card.card-block
                    img.card-img-top.zoom(src='/data/'~pic.pic_name, width="100%")
                    .card-body
                        if (pic.recognized.first())
                            each item in pic.consilium
                                p(title=item.user.user_name)=item.symptom.symptom_name
                        hr
                        if (pic.user_tests.first())
                            each test in tests
                                div(id="acc"~pic.id~test.id)
                                    .card
                                        .card-header(id = "head"~pic.id~test.id)
                                            div.btn.btn-link.collapsed(data-toggle="collapse", data-target="#list"~pic.id~test.id, aria-expanded="false")=test.dataset_name
                                        div.collapse(id = "list"~pic.id~test.id, aria-labelledby="#head"~pic.id~test.id, data-parent="#acc"~pic.id~test.id)
                                            div.card-body
                                                ul.list-group
                                                    each item in pic.user_tests
                                                        if(item.dataset_id==test.id)
                                                            li(title=item.user.user_name)=item.symptom.symptom_name
                                                                a(href="/tests/"~pic.id~"/"~item.symptom.id~"/"~item.dataset.id~"/remove")
                                                                    i.material-icons.tiny close
                        div.dropdown
                            button.btn.btn-secondary.dropdown-toggle(type="button", id="dropdownMenu"~pic.id, data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")="Добавить к тесту"
                            div.dropdown-menu(aria-labelledby="dropdownMenu"~pic.id)
                                each test in tests
                                    a.dropdown-item(style="color:black;" href="/tests/"~pic.id~"/"~test.id~"/add")=test.dataset_name


.content
    .row
        div.col-s4.pagination-center
            ul.pagination
                li.page-item
                    a.page-link(href='/tests/change/0') Первая
                if(pagination.page == 0)
                    li.page-item(hidden=true)
                        a.page-link(href='/tests/change/'~pagination.page - 1) &laquo;
                else
                    li.page-item
                        a.page-link(href='/tests/change/'~pagination.page - 1) &laquo;
                li.page-item
                    a.page-link(href='')=(pagination.page+1)
                if(pagination.page == pagination.total_pages)
                    li.page-item(hidden=true)
                        a.page-link(href='/tests/change/'~pagination.page + 1) &raquo;
                else
                    li.page-item
                        a.page-link(href='/tests/change/'~pagination.page + 1) &raquo;
                li.page-item
                    a.page-link(href='/tests/change/'~pagination.total_pages) Последняя