include application
currentPage = "/tests"
include navBar


.content
    h3=dataset.dataset_name
    h5=rec_user.user_name
    h5="Время тестирования: "~time_rec
    h5="Средний результат по диагнозам: "~summary_percentage_d~"%"
    h5="Средний результат по визуальным признакам: "~summary_percentage_v~"%"
    .row
        if(message)
            div.col-12
                div.alert.alert-danger(role="alert")=message
        each pic in pictures
            div.col-4
                .card.card-block
                    .card-title
                        a.nav-link.modal-trigger(data-toggle="modal", data-target="#pic-modal"~pic.id)
                            img.card-img-top(src='/data/'~pic.pic_name, width="100%")
                    .card-body
                        each mistake in mistakes
                            if(mistake.pic_id==pic.id)
                                b(style="color:blue;")="Результат(диагнозы): "~mistake.percentage_d~"%"
                                each minus in mistake.minus
                                    if(minus.diagnos)
                                        p=minus.symptom_name
                                hr
                                each trues in mistake.trues
                                    if(trues.diagnos)
                                        p(style="color:green;")=trues.symptom_name
                                hr
                                each plus in mistake.plus
                                    if(plus.diagnos)
                                        p(style="color:red;text-decoration:line-through;")=plus.symptom_name
                                b(style="color:blue;")="Результат(визуальные признаки): "~mistake.percentage_v~"%"
                                each minus in mistake.minus
                                    if not(minus.diagnos)
                                        p=minus.symptom_name
                                hr
                                each trues in mistake.trues
                                    if not(trues.diagnos)
                                        p(style="color:green;")=trues.symptom_name
                                hr
                                each plus in mistake.plus
                                    if not(plus.diagnos)
                                        p(style="color:red;text-decoration:line-through;")=plus.symptom_name


.content
    .row
        div.col-s4.pagination-center
            ul.pagination
                li.page-item
                    a.page-link(href='/tests/results/'~testid~'/0') Первая
                if(pagination.page == 0)
                    li.page-item(hidden=true)
                        a.page-link(href='/tests/results/'~testid~'/'~(pagination.page - 1)) &laquo;
                else
                    li.page-item
                        a.page-link(href='/tests/results/'~testid~'/'~(pagination.page - 1)) &laquo;
                li.page-item
                    a.page-link(href='')=(pagination.page+1)
                if(pagination.page == pagination.total_pages)
                    li.page-item(hidden=true)
                        a.page-link(href='/tests/results/'~testid~'/'~(pagination.page + 1)) &raquo;
                else
                    li.page-item
                        a.page-link(href='/tests/results/'~testid~'/'~(pagination.page + 1)) &raquo;
                li.page-item
                    a.page-link(href='/tests/results/'~testid~'/'~(pagination.total_pages)) Последняя

each item in pictures
    div.modal.fade(id = "pic-modal"~item.id, tabindex="-1", role="dialog", aria-hidden="true")
        div.modal-dialog.modal-lg(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true")&times;
                div.modal-body
                    img.card-img-top(src='/data/'~item.pic_name, width="100%")