include application
currentPage = "/tests"
include navBar

.content
    .row
        div.col-12
            .card.card-block
                .card-body
                    h5.card-title="Назначение тестирования"
                    if(message)
                        div.alert.alert-danger(role="alert")=message
                    form#addForm(method="post" action="#")
                        div.form-group
                            select.form-control(name="forUser", required)
                                option(value="", disabled, selected)="Пользователь"
                                for _user in users
                                    option(value=_user.id)=_user.user_name
                        div.form-group
                            select.form-control(name="test", required)
                                option(value="0", selected, disabled)="Тест"
                                for test in tests
                                    option(value=test.id)=test.dataset_name
                        button.btn.btn-primary(href="#" type="submit")="Назначить"

        div.col-12
            .card.card-block
                div.card-body
                    ul.list-group
                        each usertest in user_tests
                            li.list-group-item.list-group-item-action
                                span=usertest.user.user_name~" (Назначен тест: "~usertest.dataset.dataset_name~")"