include application
include navBar


.content
    h3=symptom.symptom_name
    .row
        if(message)
            div.col-12
                div.alert.alert-danger(role="alert")=message
        each pic in pictures
            div.col-4
                .card.card-block
                    .card-title
                        p=" № "~pic.id
                        a.nav-link.modal-trigger(data-toggle="modal", data-target="#pic-modal"~pic.id)
                            img.card-img-top(src='/data/'~pic.pic_name, width="100%")
                    .card-body
                        a(href="/pics/"~pic.id~"/"~symptom.id~"/remove")="Снять признак"
                        p=pic.user_name~' ('~pic.date~')'


.content
    .row
        div.col-s4.pagination-center
            ul.pagination
                li.page-item
                    a.page-link(href='/pics/'~symptom.id~'/0') Первая
                if(pagination.page == 0)
                    li.page-item(hidden=true)
                        a.page-link(href='/pics/'~symptom.id~'/'~(pagination.page - 1)) &laquo;
                else
                    li.page-item
                        a.page-link(href='/pics/'~symptom.id~'/'~(pagination.page - 1)) &laquo;
                li.page-item
                    a.page-link(href='')=(pagination.page+1)
                if(pagination.page == pagination.total_pages)
                    li.page-item(hidden=true)
                        a.page-link(href='/pics/'~symptom.id~'/'~(pagination.page + 1)) &raquo;
                else
                    li.page-item
                        a.page-link(href='/pics/'~symptom.id~'/'~(pagination.page + 1)) &raquo;
                li.page-item
                    a.page-link(href='/pics/'~symptom.id~'/'~(pagination.total_pages)) Последняя

each item in pictures
    div.modal.fade(id = "pic-modal"~item.id, tabindex="-1", role="dialog", aria-hidden="true")
        div.modal-dialog.modal-lg(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true")&times;
                div.modal-body
                    img.card-img-top(src='/data/'~item.pic_name, width="100%")
