include application
currentPage = "/appoint"
include navBar

.content.row
    div.col.s12
        .card-panel
            table.striped
                tbody
                    tr
                        td Размеченных снимков:
                        td=infoForm.rec_pics
                    tr
                        td Снимков в ожидании:
                        td=infoForm.all_pics
            ul.collapsible
                li
                    .collapsible-header Снимки уха
                    .collapsible-body
                        table.striped
                            tbody
                                each item in pics_by_symp
                                    if(item[1]==True)
                                        tr
                                            td=item[0]
                                            td=item[4]
                li
                    .collapsible-header Снимки горла
                    .collapsible-body
                        table.striped
                            tbody
                                each item in pics_by_symp
                                    if(item[2]==True)
                                        tr
                                            td=item[0]
                                            td=item[4]
                li
                    .collapsible-header Снимки носа
                    .collapsible-body
                        table.striped
                            tbody
                                each item in pics_by_symp
                                    if(item[3]==True)
                                        tr
                                            td=item[0]
                                            td=item[4]

.content.row
    div.col.s12
        .card-panel
            span.card-title="Назначение снимков"
            form#addForm(method="post" action="#")
                div.row
                    div.input-field.col.s12
                        select
                            option(value="", disabled, selected)="Пользователь"
                            for _user in users
                                option(value=_user.id)=_user.user_name
                    div.col.s12.input-field
                        input#count.validate(placeholder="Количество", name="count", type="text", required, aria-required="true")
            .card-action
                a.green-text(onclick="document.getElementById('addForm').submit()")="Назначить"