include application
currentPage = "/stats_cnn"
include navBar

.content
    .row
        div.col-md-12
            .card.card-block
                .card-body
                    div#accordion
                        .card
                            .card-header#ear-head
                                button.btn.btn-link.collapsed(data-toggle="collapse", data-target="#ear-list", aria-expanded="false", aria-controls="collapse-ear")="Снимки уха"
                            div#ear-list.collapse(aria-labelledby="ear-head" data-parent="#accordion")
                                div.card-body
                                    ul.list-group
                                        each item in pics_by_symp
                                            if(item[1] == True)
                                                a(href='/cnnpics/'~item[5]~'/0')
                                                    li.list-group-item.list-group-item-action
                                                        .row
                                                            .col-6
                                                                h6.text-left=item[0]
                                                            .col-6
                                                                h6.text-right=item[4]
                        .card
                            .card-header#throat-head
                                button.btn.btn-link.collapsed(data-toggle="collapse", data-target="#throat-list", aria-expanded="false", aria-controls="collapse-throat")="Снимки горла"
                            div#throat-list.collapse(aria-labelledby="throat-head" data-parent="#accordion")
                                div.card-body
                                    ul.list-group
                                        each item in pics_by_symp
                                            if(item[2] == True)
                                                a(href='/cnnpics/'~item[5]~'/0')
                                                    li.list-group-item.list-group-item-action
                                                        .row
                                                            .col-6
                                                                h6.text-left=item[0]
                                                            .col-6
                                                                h6.text-right=item[4]
                        .card
                            .card-header#nose-head
                                button.btn.btn-link.collapsed(data-toggle="collapse", data-target="#nose-list", aria-expanded="false", aria-controls="collapse-nose")="Снимки носа"
                            div#nose-list.collapse(aria-labelledby="nose-head" data-parent="#accordion")
                                div.card-body
                                    ul.list-group
                                        each item in pics_by_symp
                                            if(item[3] == True)
                                                a(href='/cnnpics/'~item[5]~'/0')
                                                    li.list-group-item.list-group-item-action
                                                        .row
                                                            .col-6
                                                                h6.text-left=item[0]
                                                            .col-6
                                                                h6.text-right=item[4]