include application
currentPage = "/indexing"
include navBar


.content
    .row
        div.col-md-12
            .card.card-block
                .card-body
                    .card-title="Индексация снимков"
                    if(message)
                        div.alert.alert-danger(role="alert")=message
                    table.table.table-striped
                        tbody
                            tr
                                td Снимков в папке:
                                td=infoForm.folder
                            tr
                                td Снимков в базе:
                                td=infoForm.db
                            tr
                                td Готово к индексации:
                                td=infoForm.ready
                .card-footer
                    a.btn.btn-secondary(role="button", href="/indexing/now")="Проиндексировать"



