include application
currentPage = "/"
include navBar


.content.row
    div.col.s12
        .card-panel
            table.striped
                tbody
                    tr
                        td Имя пользователя:
                        td=infoForm.name
                    tr
                        td Сегодня распознано:
                        td=infoForm.today_rec
                    tr
                        td Снимков в ожидании:
                        td=infoForm.in_wait
                    tr
                        td Всего распознано:
                        td=infoForm.all_rec
                    tr
                        td Подтверждено:
                        td=infoForm.confirmed

