include modals/help-modal

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            if(currentPage == "/")
                li.nav-item
                    a.nav-link.active(href="/", target="_self") Главная
            else
                li.nav-item
                    a.nav-link(href="/", target="_self") Главная

            li.nav-item.dropdown
                a(class="nav-link dropdown-toggle", href="#", id="navbarRecMenuLink", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")="Разметка"
                div(div class="dropdown-menu", aria-labelledby="navbarRecMenuLink")
                    a.dropdown-item(href="/rec", target="_self") Первичная
                    a.dropdown-item(href="/sec_rec", target="_self") Повторная

            if(admin)
                if(currentPage == "/settings")
                    li.nav-item
                        a.nav-link.active(href="/settings", target="_self") Параметры
                else
                    li.nav-item
                        a.nav-link(href="/settings", target="_self") Параметры

            if(currentPage == "/tests")
                li.nav-item
                    a.nav-link.active(href="/tests", target="_self") Тестирование
            else
                li.nav-item
                    a.nav-link(href="/tests", target="_self") Тестирование

            if(admin)
                li.nav-item.dropdown
                    a(class="nav-link dropdown-toggle", href="#", id="navbarStatsMenuLink", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")="Статистика"
                    div(div class="dropdown-menu", aria-labelledby="navbarStatsMenuLink")
                        a.dropdown-item(href="/stats_cnn", target="_self") Статистика(НС)
                        a.dropdown-item(href="/stats", target="_self") Статистика
                        a.dropdown-item(href="/consilium/stats", target="_self") Статистика консилиума
                        a.dropdown-item(href="/stats/search", target="_self") Подсчет статистики


            li.nav-item.dropdown
                a(class="nav-link dropdown-toggle", href="#", id="navbarPicsMenuLink", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")="Работа со снимками"
                div(div class="dropdown-menu", aria-labelledby="navbarPicsMenuLink")
                    if(admin)
                        a.dropdown-item(href="/rejection", target="_self") Подтверждение
                    a.dropdown-item(href="/consilium/0", target="_self") Консилиум
                        //a.dropdown-item(href="/indexing", target="_self", hidden=True) Индексация

            if(admin)
                li.nav-item.dropdown
                    a(class="nav-link dropdown-toggle", href="#", id="navbarUsersMenuLink", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")="Пользователи"
                    div(div class="dropdown-menu", aria-labelledby="navbarUsersMenuLink")
                        a.dropdown-item(href="/users", target="_self") Пользователи
                        a.dropdown-item(href="/appoint", target="_self") Назначить

            if(currentPage == "/help")
                li.nav-item
                    a.nav-link.active.modal-trigger(data-toggle="modal", data-target="#help-modal") Помощь
            else
                li.nav-item
                    a.nav-link.modal-trigger(data-toggle="modal", data-target="#help-modal") Помощь

            if(currentPage == "/updates")
                li.nav-item
                    a.nav-link.active(href="/updates", target="_self") Обновления
            else
                li.nav-item
                    a.nav-link(href="/updates", target="_self") Обновления
    a.navbar-brand.text-right(href ="/logout", target="_self") Выход
