include application
currentPage = "/settings"
include navBar


.content.row
    div.col.s6
        .card
            .card-tabs
                ul.tabs
                    li.tab.col.s3
                        a.active(href="#noseTab")="Нос"
                    li.tab.col.s3
                        a(href="#earTab")="Ухо"
                    li.tab.col.s3
                        a(href="#throatTab")="Горло"
            .card-content
                div#noseTab
                    each symp in symptoms
                        if(symp.symptom_name and symp.nose)
                            div
                                span=symp.symptom_name
                div#earTab
                    each symp in symptoms
                        if(symp.symptom_name and symp.ear)
                            div
                                span=symp.symptom_name
                div#throatTab
                    each symp in symptoms
                        if(symp.symptom_name and symp.throat)
                            div
                                span=symp.symptom_name
    div.col.s6
        .card
            .card-content
                span.card-title="Добавить диагноз"
                form#addForm(method="post" action="#")
                    div.row
                        div.col.s4
                            input.filled-in(type="checkbox", id='ear', name="ear")
                            label(for='ear', style="{pointer-events: auto;}")="Ухо"
                        div.col.s4
                            input.filled-in(type="checkbox", id='throat', name="throat")
                            label(for='throat', style="{pointer-events: auto;}")="Горло"
                        div.col.s4
                            input.filled-in(type="checkbox", id='nose', name="nose")
                            label(for='nose', style="{pointer-events: auto;}")="Нос"
                        div.col.s12.input-field
                            input#diagnos.validate(placeholder="Диагноз", name="diagnos", type="text", required="", aria-required="true")
                            label(for="diagnos")="Диагноз"
            .card-action
                a.green-text(onclick="document.getElementById('addForm').submit()")="Добавить"