include application
currentPage = "/rec"
include navBar

.content.row
    div.col.s6
        .card-panel
            img.parent-width(src="img/1446.jpg")
    div.col.s6
        .card
            .card-tabs
                ul.tabs
                    li.tab.col.s3
                        a.active(href="#noseTab")="Нос"
                    li.tab.col.s3
                        a(href="#earTab")="Ухо"
                    li.tab.col.s3
                        a(href="#throatTab")="Горло"
            .card-content
                div#noseTab
                    form#noseform(method="post" action="#")
                        each symp in symptoms_nose
                            if(symp.symptom_name)
                                div
                                    if(symp.symptom_name == "Нос")
                                        input.filled-in(type="checkbox", id=symp.id~'nose', name=symp.id, checked)
                                    else
                                        input.filled-in(type="checkbox", id=symp.id~'nose', name=symp.id)
                                    label(for=symp.id~'nose', style="{pointer-events: auto;}")=symp.symptom_name

                        .card-action.card-tab-action
                            a.green-text(onclick="document.getElementById('noseform').submit()" )="Сохранить"
                            a(href = "")="Пропустить"
                div#earTab
                    form#earform(method="post" action="#")
                        each symp in symptoms_ear
                            if(symp.symptom_name)
                                div
                                    if(symp.symptom_name == "Ухо")
                                        input.filled-in(type="checkbox", id=symp.id~'ear', name=symp.id, checked)
                                    else
                                        input.filled-in(type="checkbox", id=symp.id~'ear', name=symp.id)
                                    label(for=symp.id~'ear', style="{pointer-events: auto;}")=symp.symptom_name

                        .card-action.card-tab-action
                            a.green-text(onclick="document.getElementById('earform').submit()" )="Сохранить"
                            a(href = "")="Пропустить"
                div#throatTab
                    form#throatform(method="post" action="#")
                        each symp in symptoms_throat
                            if(symp.symptom_name)
                                div
                                    if(symp.symptom_name == "Горло")
                                        input.filled-in(type="checkbox", id=symp.id~'throat', name=symp.id, checked)
                                    else
                                        input.filled-in(type="checkbox", id=symp.id~'throat', name=symp.id)
                                    label(for=symp.id~'throat', style="{pointer-events: auto;}")=symp.symptom_name

                        .card-action.card-tab-action
                            a.green-text(onclick="document.getElementById('throatform').submit()" )="Сохранить"
                            a(href = "")="Пропустить"