include application
currentPage = "/rec"
include navBar

.content.row
    div.col.s6
        .card-panel
            if(message)
                div.card.center-align.red.accent-1
                    span.center-align=message
            if(pic_local)
                img.materialboxed(src=pic_local, width="100%")
            table.striped
                tbody
                    tr
                        td Сегодня распознано:
                        td=today_rec
                    tr
                        td Снимков в ожидании:
                        td=in_wait
    div.col.s6
        .card
            .card-tabs
                ul.tabs
                    li.tab.col.s3
                        a.active(href="#noseTab")="Нос"
                    li.tab.col.s3
                        a(href="#earTab")="Ухо"
                    li.tab.col.s3
                        a(href="#throatTab")="Горло"
            .card-content
                div#noseTab
                    form#noseform(method="post" action="#")
                        if(appointed)
                            input.hidden(name = "appointed", value=appointed, hidden)
                        each symp in symptoms
                            if(symp.symptom_name and symp.nose and symp.ismedical)
                                div
                                    input.filled-in(type="checkbox", id=symp.id~'nose', name=symp.id)
                                    label(for=symp.id~'nose', style="{pointer-events: auto;}")=symp.symptom_name
                        hr
                        each symp in symptoms
                            if not(symp.ismedical)
                                div
                                    input.filled-in(type="checkbox", id=symp.id~'nose', name=symp.id)
                                    label(for=symp.id~'nose', style="{pointer-events: auto;}")=symp.symptom_name

                        .card-action.card-tab-action
                            if(appointed)
                                a.green-text(onclick="document.getElementById('noseform').submit()" )="Сохранить"
                                a(href="/rec/skip/"~appointed)="Пропустить"
                div#earTab
                    form#earform(method="post" action="#")
                        if(appointed)
                            input.hidden(name = "appointed", value=appointed, hidden)
                        each symp in symptoms
                            if(symp.symptom_name and symp.ear and symp.ismedical)
                                div
                                    input.filled-in(type="checkbox", id=symp.id~'ear', name=symp.id)
                                    label(for=symp.id~'ear', style="{pointer-events: auto;}")=symp.symptom_name
                        hr
                        each symp in symptoms
                            if not(symp.ismedical)
                                div
                                    input.filled-in(type="checkbox", id=symp.id~'ear', name=symp.id)
                                    label(for=symp.id~'ear', style="{pointer-events: auto;}")=symp.symptom_name

                        .card-action.card-tab-action
                            if(appointed)
                                a.green-text(onclick="document.getElementById('earform').submit()" )="Сохранить"
                                a(href="/rec/skip/"~appointed)="Пропустить"
                div#throatTab
                    form#throatform(method="post" action="#")
                        if(appointed)
                            input.hidden(name = "appointed", value=appointed, hidden)
                        each symp in symptoms
                            if(symp.symptom_name and symp.throat and symp.ismedical)
                                div
                                    input.filled-in(type="checkbox", id=symp.id~'throat', name=symp.id)
                                    label(for=symp.id~'throat', style="{pointer-events: auto;}")=symp.symptom_name
                        hr
                        each symp in symptoms
                            if not(symp.ismedical)
                                div
                                    input.filled-in(type="checkbox", id=symp.id~'throat', name=symp.id)
                                    label(for=symp.id~'throat', style="{pointer-events: auto;}")=symp.symptom_name

                        .card-action.card-tab-action
                            if(appointed)
                                a.green-text(onclick="document.getElementById('throatform').submit()" )="Сохранить"
                                a(href="/rec/skip/"~appointed)="Пропустить"