include application
currentPage = "/rejection"
include navBar

.content
    .row
        div.col-12
            .card.card-block
                nav
                    div#tabForm.nav.nav-tabs(role="tablist")
                        a.nav-item.nav-link.active(href="#earTab", data-toggle="tab",id="ear-tab", aria-controls="earTab", aria-selected="true")="Ухо"
                        a.nav-item.nav-link(href="#throatTab", data-toggle="tab",id="throat-tab", aria-controls="throatTab", aria-selected="false")="Горло"
                        a.nav-item.nav-link(href="#noseTab", data-toggle="tab",id="nose-tab", role="tab", aria-controls="noseTab", aria-selected="false")="Нос"
                    .tab-content
                        div#earTab.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="ear-tab")
                            .card-body
                                form#earform(method="post" action="#")
                                    input(type=text, name='type', value = "ear", hidden=true)
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.ear and symp.ismedical and symp.diagnos)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'ear', name=symp.id)
                                                label.custom-control-label(for=symp.id~'ear')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.ear and symp.ismedical and not(symp.diagnos))
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'ear', name=symp.id)
                                                label.custom-control-label(for=symp.id~'ear')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if not(symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'ear', name=symp.id)
                                                label.custom-control-label(for=symp.id~'ear')=symp.symptom_name
                                    hr
                                    div.custom-control.custom-checkbox.my-1.mr-sm-2
                                        input.custom-control-input(type="checkbox", id='oEar', name="opticalExclude")
                                        label.custom-control-label(for='oEar')="Исключить все оптически неверные"
                                    hr
                                    div.form-group
                                        select.form-control(name="forUser")
                                            option(value="", disabled, selected)="Пользователь"
                                            for _user in users
                                                option(value=_user.id)=_user.user_name
                                    hr
                                    div.form-group
                                        input.form-control(type="date" name="dateRec")
                                    hr
                                    button.btn.btn-success(href="#" type="submit")="Показать"
                        div#throatTab.tab-pane.fade(role="tabpanel", aria-labelledby="throat-tab")
                            .card-body
                                form#throatform(method="post" action="#")
                                    input(type=text, name='type', value = "throat", hidden=true)
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.throat and symp.ismedical and symp.diagnos)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'throat', name=symp.id)
                                                label.custom-control-label(for=symp.id~'throat')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.throat and symp.ismedical and not(symp.diagnos))
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'throat', name=symp.id)
                                                label.custom-control-label(for=symp.id~'throat')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if not(symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'throat', name=symp.id)
                                                label.custom-control-label(for=symp.id~'throat')=symp.symptom_name
                                    hr
                                    div.custom-control.custom-checkbox.my-1.mr-sm-2
                                        input.custom-control-input(type="checkbox", id='oThroat', name="opticalExclude")
                                        label.custom-control-label(for='oThroat')="Исключить все оптически неверные"
                                    hr
                                    div.form-group
                                        select.form-control(name="forUser")
                                            option(value="", disabled, selected)="Пользователь"
                                            for _user in users
                                                option(value=_user.id)=_user.user_name
                                    hr
                                    div.form-group
                                        input.form-control(type="date" name="dateRec")
                                    hr
                                    button.btn.btn-success(href="#" type="submit")="Показать"
                        div#noseTab.tab-pane.fade(role="tabpanel", aria-labelledby="nose-tab")
                            .card-body
                                form#noseform(method="post" action="#")
                                    input(type=text, name='type', value = "nose", hidden=true)
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.nose and symp.ismedical and symp.diagnos)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'nose', name=symp.id)
                                                label.custom-control-label(for=symp.id~'nose')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.nose and symp.ismedical and not(symp.diagnos))
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'nose', name=symp.id)
                                                label.custom-control-label(for=symp.id~'nose')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if not(symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'nose', name=symp.id)
                                                label.custom-control-label(for=symp.id~'nose')=symp.symptom_name
                                    hr
                                    div.custom-control.custom-checkbox.my-1.mr-sm-2
                                        input.custom-control-input(type="checkbox", id='oNose', name="opticalExclude")
                                        label.custom-control-label(for='oNose')="Исключить все оптически неверные"
                                    hr
                                    div.form-group
                                        select.form-control(name="forUser")
                                            option(value="", disabled, selected)="Пользователь"
                                            for _user in users
                                                option(value=_user.id)=_user.user_name
                                    hr
                                    div.form-group
                                        input.form-control(type="date" name="dateRec")
                                    hr
                                    button.btn.btn-success(href="#" type="submit")="Показать"

