include application
currentPage = "/updates"
include navBar


.content
    .row
        div.col-12
            if(admin)
                .card.card-block
                    .card-body
                        h5.card-title="Новая запись"
                        if(message)
                            div.alert.alert-danger(role="alert")=message
                        form#messForm(method="post" action="#")
                            div.form-group
                                textarea#textarea1.form-control(placeholder="Сообщение", name="message", rows="3")
                            button.btn.btn-primary(href="#" type="submit")="Добавить"
            each mess in messageHistory
                .card.card-block
                    .card-body
                        h5.card-title
                            span.badge.badge-pill.badge-primary=mess.user_name
                        p=mess.message
                        span.badge.badge-secondary=mess.date


