include application
currentPage = "/rec"
include navBar

.content
    .row
        div.col-md-6
            .card.card-block
                .card-body
                    if(message)
                        div.alert.alert-danger(role="alert")=message
                    if(pic_local)
                        img.materialboxed(src=pic_local, width="100%")
                    table.table.table-striped
                        tbody
                            tr
                                td Сегодня распознано:
                                td=today_rec
                            tr
                                td Снимков в ожидании:
                                td=in_wait
                            tr
                                td Время распознания:
                                td.timer=0
        div.col-md-6
            .card.card-block
                .card-body
                    h5.card-title="Нейросеть"
                    each item in neural
                        li.card-text=item[1]
            .card.card-block
                nav
                    div#tabForm.nav.nav-tabs(role="tablist")
                        a.nav-item.nav-link.active(href="#earTab", data-toggle="tab",id="ear-tab", aria-controls="earTab", aria-selected="true")="Ухо"
                        a.nav-item.nav-link(href="#throatTab", data-toggle="tab",id="throat-tab", aria-controls="throatTab", aria-selected="false")="Горло"
                        a.nav-item.nav-link(href="#noseTab", data-toggle="tab",id="nose-tab", role="tab", aria-controls="noseTab", aria-selected="false")="Нос"
                    .tab-content
                        div#earTab.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="ear-tab")
                            .card-body
                                form#earform(method="post" action="#")
                                    input.hidden.timer(name = "timer", value=0, hidden)
                                    if(appointed)
                                        input.hidden(name = "appointed", value=appointed, hidden)
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.ear and symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'ear', name=symp.id)
                                                label.custom-control-label(for=symp.id~'ear')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if not(symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'ear', name=symp.id)
                                                label.custom-control-label(for=symp.id~'ear')=symp.symptom_name
                                    hr
                                    if(appointed)
                                        button.btn.btn-success(href="#" type="submit")="Сохранить"
                                        button.btn.btn-warning(href="/rec/skip/"~appointed)="Пропустить"
                        div#throatTab.tab-pane.fade(role="tabpanel", aria-labelledby="throat-tab")
                            .card-body
                                form#throatform(method="post" action="#")
                                    input.hidden.timer(name = "timer", value=0, hidden)
                                    if(appointed)
                                        input.hidden(name = "appointed", value=appointed, hidden)
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.throat and symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'throat', name=symp.id)
                                                label.custom-control-label(for=symp.id~'throat')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if not(symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'throat', name=symp.id)
                                                label.custom-control-label(for=symp.id~'throat')=symp.symptom_name

                                    hr
                                    if(appointed)
                                        button.btn.btn-success(href="#" type="submit")="Сохранить"
                                        button.btn.btn-warning(href="/rec/skip/"~appointed)="Пропустить"
                        div#noseTab.tab-pane.fade(role="tabpanel", aria-labelledby="nose-tab")
                            .card-body
                                form#noseform(method="post" action="#")
                                    input.hidden.timer(name = "timer", value=0, hidden)
                                    if(appointed)
                                        input.hidden(name = "appointed", value=appointed, hidden)
                                    each symp in symptoms
                                        if(symp.symptom_name and symp.nose and symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'nose', name=symp.id)
                                                label.custom-control-label(for=symp.id~'nose')=symp.symptom_name
                                    hr
                                    each symp in symptoms
                                        if not(symp.ismedical)
                                            div.custom-control.custom-checkbox.my-1.mr-sm-2
                                                input.custom-control-input(type="checkbox", id=symp.id~'nose', name=symp.id)
                                                label.custom-control-label(for=symp.id~'nose')=symp.symptom_name
                                    hr
                                    if(appointed)
                                        button.btn.btn-success(href="#" type="submit")="Сохранить"
                                        button.btn.btn-warning(href="/rec/skip/"~appointed)="Пропустить"